.result-execute-sql-container {
    margin-bottom: 10px;
    table {
      width: 90%;
      border-collapse: collapse;
      background-color: aqua;
    }
  
    table,
    th,
    td {
      border: 1px solid #ccc;
      /* Viền đậm hơn để nổi bật trên nền đen */
    }
  
    th,
    td {
      padding: 8px;
      text-align: left;
    }
  
    th {
      background-color: #555;
      /* Nền cho tiêu đề bảng */
      color: #f5f5f5;
      /* Màu chữ tiêu đề bảng */
    }
  
    td {
      background-color: #444;
      /* Nền cho các ô dữ liệu */
    }
  }