// src/Login.scss
.login-container {
    display: flex;
    justify-content: center;
    width: fit-content;
    align-items: center;
    padding: 20px;

    .login-form {
        width: 450px;
        padding: 24px;
        background: #fff;
        border-radius: 10px;
    }
    
    .logo-container {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .logo-container h2 {
        font-size: 24px;
        color: #1890ff;
        margin: 0;
    }
    
    .logo-container h3 {
        font-size: 20px;
        color: #595959;
        margin: 0;
    }
    
    .login-form-button {
        width: 40%;
        padding: 10px;
        border-radius: 15px !important;
    }
    
    .login-form-forgot {
        float: right;
        color: #1890ff;
    }
    

    .btn-login-container {
        text-align: center;
    }
    .ant-btn {
        border-radius: 5px;
    }
    
    .input-login {
        padding: 10px !important;
        border-radius: 20px;
    }

    .extra-container {
        margin-top: 20px;
        text-align: center;
    }
    .extra-container span {
        color: #1890ff;
        cursor: pointer;
    }

}
