html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #EDF2F4;
    /* background: linear-gradient(to right, #5352ed, #6dd5fa); */
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    text-decoration: none;
    /* Đảm bảo không có dấu gạch chân khi hover */
}

.layout-container {
    /* background-image: url('../images/back.jpg'); */
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    justify-content: center;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;

}

.layout-header {
    height: fit-content;
}

.layout-outlet {
    flex: 1;
    margin-bottom: 10px;

}

